/*------------------------------------*\
    $DEBUG
\*------------------------------------*/

/* 
    Включите эту таблицу стилей для визуального обнаружения любого неправильно вложенного или
    потенциально недопустимую разметку или любой потенциально недоступный код.

    Красный == определенная ошибка
    Желтый == перепроверьте
    Нет == все должно быть в порядке

    Обратите внимание, что на этот метод проверки качества разметки не следует полагаться.
    Проверяйте свою разметку! 
*/

/*
  Есть ли на вашей странице какие-либо пустые элементы?
*/
:empty {
  outline: 5px solid yellow;
}

/*
 Изображениям требуются атрибуты `alt`, пустые `alt` - это нормально,
 но их следует перепроверить, отсутствие `alt' - это плохо и помечено красным.
*/
img {
  outline: 5px solid red;
}
img[alt] {
  outline: none;
}
img[alt=""] {
  outline: 5px solid yellow;
}

/*
    Ссылки иногда, хотя и не всегда, выигрывают от атрибутов "title".
    Ссылки без них никогда не являются недействительными, но это хорошая идея проверить.
*/
a {
  outline: 5px solid yellow;
}
a[title] {
  outline: none;
}

/*
    Дважды проверьте все ссылки, "href" которых вызывает сомнение.
*/
a[href="#"],
a[href*="javascript"] {
  outline: 5px solid yellow;
}

/*
    Атрибут `target` не слишком хорош...
*/
a[target] {
  outline: 5px solid yellow;
}

/*
    Убедитесь, что все списки содержат только "li" в качестве дочерних элементов.
*/
ul > *:not(li),
ol > *:not(li) {
  outline: 5px solid red;
}

/*
    Всегда приятно присваивать "th" атрибутам "scope". 
*/
th {
  outline: 5px solid yellow;
}
th[scope] {
  outline: none;
}

/*
    `tr" как дети "table" не очень хороши, вам нужен был "thead" / "tbody"?
*/
table > tr {
  outline: 5px solid yellow;
}

/*
    `tfoot` должен быть *перед* `tbody`.
*/
tbody + tfoot {
  outline: 5px solid yellow;
}

/*
    Формы требуют атрибутов `действия`
*/
form {
  outline: 5px solid red;
}
form[action] {
  outline: none;
}

/*
    Различные типы полей формы имеют обязательные атрибуты. 
    Для ввода нужны атрибуты `type`
    Для textarea нужны атрибуты `rows` и `cols`
    Для кнопок отправки нужен атрибут `value`.
*/
textarea,
input {
  outline: 5px solid red;
}
input[type] {
  outline: none;
}
textarea[rows][cols] {
  outline: none;
}
input[type="submit"] {
  outline: 5px solid red;
}
input[type="submit"][value] {
  outline: none;
}

/*
    По возможности избегайте встроенных стилей.
*/
[style] {
  outline: 5px solid yellow;
}

/*
    Вам следует избегать использования идентификаторов для CSS, делает ли это какой-либо стиль?
*/
[id] {
  outline: 5px solid yellow;
}

/*
    Списки определений должны содержать только элементы DT и DD
*/
dl > * {
  outline: 5px solid red;
}
dl > dt,
dl > dd {
  outline: none;
}
